* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 2000px; 
  }
  
p {
    font-size: 20px;
}
  #scrollBtns {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .scrollBtn {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .scrollBtn:hover {
    background-color: #555;
  }

  button {
    position: absolute;
    top  : 10px; /* Adjust as needed to set the top position */
    right: 10px; /* Adjust as needed to set the left position */
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #e6e6fa;; /* Background color of the button */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }

  button:hover {
    background-color: #dadada;
  }