* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.news {
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.text {
    max-height: 55px; /* Set a maximum height to hide overflow */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.5s ease-in-out;

}



div .news-content {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    max-width: 400px;
    margin-left: 7%;
    margin-top: -5% ;
    box-shadow: 5px 5px 5px 0px rgba(51, 51, 51, 0.5);
    padding: 8px
}

button{
    background: none;
    border: none;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    color: #3498db;
}

.back-button {
    position: absolute;
    bottom  : 10px; /* Adjust as needed to set the top position */
    left: 10px; /* Adjust as needed to set the left position */
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #e6e6fa;; /* Background color of the button */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }

  .back-button:hover {
    background-color: #dadada;
  }