* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    
    gap: 10px;
}

.item button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.circle {
    
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin : 8px;
    transition: all 0.3s ease;
}

.back-button {
    position: absolute;
    top  : 10px; /* Adjust as needed to set the top position */
    right: 10px; /* Adjust as needed to set the left position */
    padding: 10px 15px; /* Adjust padding as needed */
    background-color: #e6e6fa;; /* Background color of the button */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }

  .back-button:hover {
    background-color: #dadada;
  }